{{#each this}}
  <div class="watchedTemplate col-md-3">
    <div class="img-wrapper">
      <img class="media-object img-thumbnail" src="{{{poster}}}">
    </div>
    <div class="media-body">
      <p>Rating:{{rating}}</p>
    </div>
  </div>
{{/each}}