{{#each this}}
  <div class="toWatchTemplate col-md-3">
    <div class="img-wrapper">
      <img class="posterImage" src="{{{poster}}}" width=214 height=310>
    </div>
    
    
    <div class="watchedMovie">
      <h2 class="hidden">{{title}}</h2>

      <p>{{rating}}</p>
        <input type="hidden" class="rating"/>
    </div>
  </div>
{{/each}}


