{{#each this}}
  <div class="watchedTemplate col-md-3">
    <div class="img-wrapper">
      <img class="media-object img-thumbnail" src="{{{poster}}}">
    </div>
    <div class="media-body">
      <p>{{rating}}</p>
      <div class="media-bottom">
        <button type="button" class="removeButton btn btn-default btn-sm">Remove</button>
      </div>
    </div>
  </div>
{{/each}}