{{#each this}}
  <div class="toWatchTemplate col-md-3">
    <div class="img-wrapper">
      <img class="img-thumbnail" src="{{poster}}">
    </div>
    <div class="">
      <div class="">
        <button type="button" class="markWatched btn btn-default btn-sm">Mark Watched</button>
        <button type="button" class="removeButton btn btn-default btn-sm">Remove</button>
      </div>
    </div>
  </div>
{{/each}}