{{#each this}}
  <div class="toWatchTemplate col-md-3">
    <div class="img-wrapper">
      <img class="posterImage" src="{{{poster}}}" width=214 height=310>
    </div>
    
    
    <div class="">
      <h2 class="hidden">{{title}}</h2>
      <button type="button" class="markWatched btn btn-default btn-sm">Mark Watched</button>
      <button type="button" class="removeButton btn btn-default btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"> </span></button>
    </div>
  </div>
{{/each}}
