{{#each this}}
  <div class="searchedMoviesTemplate col-md-3">
    <div class="img-wrapper">
      <img class="posterImage" src={{{imdbID}}} width=214 height=310>
    </div>
    
    
    <div class="">
      <button type="button" class="addToWishList btn btn-default btn-sm">Add to Wishlist</button>
    </div>
  </div>
{{/each}}